doctype html
html
  head
    title FastTalk
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app ='fastTalk')
    ui-view
    block content
