html
  head
    title FastTalk
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app ='fastTalk')
    ui-view
    block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.min.js')
    script(src='/js/client.js')
    script(src='/js/auth/authService.js')
    script(src='/js/auth/login/login.component.js')
    script(src='/js/auth/signup/signup.component.js')
    script(src='/js/welcome/welcome.component.js')
