<h1 class="loginJ">LOGIN</h1>
<form class="loginForm"
      name="loginForm"
      id="loginF"
      ng-submit="$ctrl.login(loginForm)"
      novalidate>

    <div class="form-group" id="loginI">
        <div id="loginIn">
            <label>Email</label>
            <i class="tiny material-icons" id="icon1">email</i>
            <input type="email"
                   id="username"
                   name="username"
                   class="form-control"
                   ng-model="$ctrl.user.username"
                   required />
        </div>
    </div>

        <div class="form-group">
            <label>Password</label>

            <i class="tiny material-icons">vpn_key
                <input type="password"
                       id="password"
                       placeholder="password"
                       name="password"
                       class="form-control"
                       ng-model="$ctrl.user.password"
                       required />
            </i>
        </div>
    <div>
        <br>
        <br>
        <button class="btn btn-inverse btn-lg btn-login"  id="loginbutton" type="submit">
            SUBMIT
        </button>
        <br>
        <br>
        <p class="loginp">Did you want to <a ui-sref="signup">signup</a> instead?</p>
    </div>
</form>