body {
  /*padding: 50px;*/
}

a {
  color: #00B7FF;
}

#buttons{
  text-align: center;
}

#welcomeb{
  background-color: #F7DC6F;
  padding: 50px;
}

#welcomep{
  text-align: center;
}

#jumbotron{
  font-family: 'Chewy', cursive;
  text-align: center;
}

#welp{
  font-family: 'Chewy', cursive;
}

#wbutton1{
  color: white;
  background-color: #26C6DA;
  font-family: 'Chewy', cursive;
}

#wbutton2{
  color: white;
  background-color: #26C6DA;
  font-family: 'Chewy', cursive;
}

#bar{
  text-align: center;
}

#loginF{
  text-align: center;
}
h1#loginJ{
  padding: 100px 0px 0px 100px;
  background-color: #F7DC6F;
  text-align: center;
  font-family: 'Chewy', cursive;

}

.loginp{
  text-align: center;
  font-family: 'Chewy', cursive;
}

.signupJ{
  padding-top: 100px;
  background-color: #F7DC6F;
  text-align: center;
  font-family: 'Chewy', cursive;
}

#signupF{
  text-align: center;
  font-family: 'Chewy', cursive;
}

#loginbutton{
  background-color: #26C6DA;
  text-align: center;
  font-family: 'Chewy', cursive;
}

#signupbutton{
  background-color: #26C6DA;
  text-align: center;
  font-family: 'Chewy', cursive;
}

.signupP{
  text-align: center;
  font-family: 'Chewy', cursive;
}

#userSave{
  float: right;
  font-family: 'Chewy', cursive;
}

#input3 {
  padding-right: 20px;
  padding: 20px 0px 20px 10px;
  width: 98%;

}

.etext1{
  text-align: center;
  font-family: 'Caveat Brush', cursive;
  color: #5f9ea0;

}

.etext2{
  text-align: center;
  font-family: 'Caveat Brush', cursive;
}

.stext1{
text-align: center;
  font-family: 'Caveat Brush', cursive;
  color: #5f9ea0;

}

.stext2{
text-align: center;
  font-family: 'Caveat Brush', cursive;
}

#deleteB{
  background-color: #26C6DA;
  color: white;
  font-family: 'Caveat Brush', cursive;

}

#myPJ{
  font-family: 'Chewy', cursive;
}

#trans{
  font-family: 'Chewy', cursive;
}

#trans2{
  font-family: 'Chewy', cursive;
}

.ui.button#save{
  background-color: #26C6DA;
  font-family: 'Chewy', cursive;
  color: white;
}

.ui.button#submit{
  background-color: #26C6DA;
  font-family: 'Chewy', cursive;
  color: white;
}


#userinfo{
  font-family: 'Chewy', cursive;
}

nav#nav-wrapper a {
  color: black;
  font-family: 'Chewy', cursive;

}

#nav-mobile{
  font-family: 'Chewy', cursive;
}
nav#nav-wrapper{
  background-color: #F7DC6F;
}

#translateInput{
  padding: 20px 0px 20px 10px;
}

#loginI{
  display: flex;
  justify-content: center;
}

#loginIn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
}

#icon1{
  margin-right: 10px;
}

#signupI{
  display: flex;
  justify-content: center;
}

#signupIn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
}

#icon2{
  margin-right: 10px;
}

nav.#userinfo{
  color:#26C6DA;
}


#allPhrases{
  background-color: #F7DC6F;
}