<h1 class="signupJ">SIGN UP</h1>

<form class="form"
      name="form"
      id="signupF"
      ng-submit="$ctrl.signup(form)"
      novalidate>

    <div class="form-group" id="signupI">
       <div id="signupIn">
        <label>Email</label>

           <i class="tiny material-icons" id="icon2">email</i>
            <input type="email"
                   id="username"
                   name="username"
                   class="form-control"
                   ng-model="$ctrl.user.username"
               required />
       </div>
    </div>

    <div class="form-group">
        <label>Password</label>

        <i class="tiny material-icons">vpn_key
        <input type="password"
               id="password"
               name="password"
               class="form-control"
               ng-model="$ctrl.user.password"
               required />
        </i>
    </div>
    <div>
        <br>
        <br>
        <button id="signupbutton" class="btn btn-inverse btn-lg btn-login" type="submit">
            SUBMIT
        </button>

        <br>
        <br>
        <p class="signupP" >Did you need to <a ui-sref="login">login</a> instead?</p>
    </div>
</form>